[Desktop Entry]
Type=Application
Name=Kalkulator
GenericName=Kalculator
Version=1.0
Comment=Jednoducha kalkulacka
Exec=/opt/kalkulator/kalkulator
Terminal=false
